/* 
Parallax Experiment
Date: 2nd April 2009
Author: Paul Hayes
*/

#background {
background: url('../images/foreground.png') 5% 5%, url('../images/midground.png') 50% 50%, url('../images/background.png') 90% 110%;
top: 90px;
left: 0;
right: 0;
bottom: 0;
position: fixed;
-webkit-transition: left 300s linear;
}

#experiment:target #background {
left: -5000px;
}

#experiment:hover #background {
left: -9999px;
}

#content {
margin: 3em 10em;
background-color: #333;
opacity: 0.95;
color: #ccc;
padding: 3em;
position: fixed;
border: 2px solid #666;
}

#content h2 {
margin: 1em 0;
font-weight: bold;
font-size:  26px;
}